/* styles/_variables.css */

:root {
  /* Other Colors */
  --color-bg-light: #f1f5f9;
  --color-bg-dark: #242424;
  --color-text-light: #242424;
  --color-text-dark: #f1f5f9;

  --transition-duration: 300ms;
}

/* Theme Classes */
.light {
  --color-bg: var(--color-bg-light);
  --color-text: var(--color-text-light);
  --color-bg-opposite: var(--color-bg-dark);
  --color-text-opposite: var(--color-text-dark);
  --color-footer: white;
  --color-body: #3ea8e5;
}

.dark {
  --color-bg: var(--color-bg-dark);
  --color-text: var(--color-text-dark);
  --color-bg-opposite: var(--color-bg-light);
  --color-text-opposite: var(--color-text-light);
  --color-footer: #12060a;
  --color-body: black;
}
