@import "_variables.css";
.footer {
  transition: all var(--transition-duration) ease;
  background-color: var(--color-footer);
  color: var(--color-text);
  text-align: center;
  padding: 10px;
  width: 100%;
}
