* {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: black;
}

.container {
  display: flex;
  min-height: 100vh;
}

/* For header to stick when scroll
.header {
  position: sticky;
  top: 0;
  z-index: 1;
}
*/

.main-content {
  flex: 1;
  padding: 20px;
  transition: all 600ms ease;
  margin-top: 10px;
}
.main-content.sidebar-open {
  margin-left: 200px;
  opacity: 0.1;
  pointer-events: none;
}

/* Scrollbar Styling*/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 4px;
}
