* {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: black;
}

.container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
  transition: margin-left 700ms;
}

.main-content.sidebar-open {
  margin-left: 200px;
}

/* Scrollbar Styling*/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 4px;
}
