@import "_variables.css";

* {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--color-body);
}

.container {
  display: flex;
  min-height: 100vh;
}

/* For header to stick when scroll
.header {
  position: sticky;
  top: 0;
  z-index: 1;
}
*/

.links {
  max-width: 100px;
  margin-bottom: 10px;
  padding: 10px;
}

.main-content {
  flex: 1;
  padding: 20px;
  transition: all 600ms ease;
  margin-top: 10px;
}
.main-content.sidebar-open {
  margin-left: 200px;
  opacity: 0.1;
  pointer-events: none;
}

/* Scrollbar Styling*/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 4px;
}

/*Responsive Design*/

@media screen and (max-width: 733px) {
  .left-half,
  .right-half {
    flex-direction: column;
    justify-content: center;
  }
  div.date-fields {
    width: 100%;
  }
  #search-input,
  #team-input,
  #owner-input {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 509px) {
  .date-fields {
    flex-direction: column;
  }
}

@media screen and (max-width: 364px) {
  footer.footer,
  header.header {
    width: calc(100% + 200px);
  }
}
