.header {
  background-color: #12060a;
  color: white;
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}

h1 {
  transform: translateY(-3px);
}

.left-header-icon,
.right-header-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.right-header-icon {
  justify-content: end;
  transition: all 0.5s ease;
  font-size: 1.5rem;
}

.right-header-icon:hover {
  transform: scaleY(1.05);
  color: gray;
}

.menu-icon,
.toggle-icon {
  max-width: 50px;
  cursor: pointer;
}

.menu-icon {
  font-size: 1.5rem;
  transition: all 0.2s ease;
}

.menu-icon:hover {
  transform: scale(1.2);
}
