.search-section {
  margin-bottom: 20px;
}

.search-form {
  display: flex;
  flex-direction: column;
  position: relative; /* For autocomplete positioning */
}

.split-search {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.left-half,
.right-half {
  display: flex;
  flex: 1;
  align-items: flex-end;
  gap: 25px;
}

.searchbar-container,
.searchbar-container2 {
  flex: 1;
  width: 100%;
  position: relative;
}

.searchbar-container input,
.searchbar-container2 input {
  appearance: 0;
  border: none;
  border-bottom: 0.2em solid white;
  background: black;
  width: 100%;
  transition: all 0.15s ease-in-out;
  border-radius: 0.2em 0.2em 0 0;
  color: transparent;
  text-shadow: 0 0 0 white;
  font-size: large;
  font-weight: bold;
  padding: 10px;
}

.searchbar-container input:focus,
.searchbar-container2 input:focus {
  outline-style: solid;
  outline-color: gray;
}

.searchbar-container > label,
.searchbar-container2 > label {
  color: white;
  position: absolute;
  left: 0px;
  pointer-events: none;
  transition: all 0.2s ease;
}

input:focus + label {
  transform: translateY(-25px);
}

/*
.or-divider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  padding: 0 10px;
  gap: 5px;
  max-width: 50px;
}

.or {
  text-align: center;
}


.vertical-line {
  width: 2px;
  background-color: gray;
  height: 60px;
}
*/

/*
.advanced-settings {
  display: block;
}
*/

.date-fields {
  display: flex;
  width: 49.25%;
  gap: 25px;
}

.date-container input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  background-color: #242424;
  color: white;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

.date-container label {
  color: white;
}

/*Inspired from csscheckbox.com
.css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.checkbox-container {
  display: flex;
  gap: 50px;
  justify-content: center;
}
.css-checkbox + label {
  position: relative;
  font-size: 14px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  height: 27px;
  color: white;
}

.css-checkbox + label::before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  width: 25px;
  height: 25px;
  background-color: rgb(237, 231, 216);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(222, 209, 178);
  border-radius: 2px;
  box-shadow: none;
}
.css-checkbox:checked + label::after {
  content: " ";
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjMzMzMjMwIiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuMjA0LS4wMDF6Ii8+PC9zdmc+");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: center center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  left: 0px;
  top: 0px;
  text-align: center;
  background-color: transparent;
  font-size: 10px;
  height: 27px;
  width: 27px;
}
*/

button#submitButton {
  background-color: #242424;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  max-width: 150px;
  align-self: center;
  margin-top: 15px;
}

.search-form button#submitButton:hover {
  background-color: white;
  color: black;
  transform: translateY(-4px);
}

button#toggle-advanced {
  background-color: #242424;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  max-width: 150px;
  align-self: center;
}

button#toggle-advanced:hover {
  background-color: lightgray;
  color: black;
  transform: translateY(-4px);
}

.autocomplete-items {
  border: 1px solid #ccc;
  border-top: none;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  background-color: white;
  z-index: 1000;
  width: calc(100% - 22px);
  top: 100%;
  left: 0;
}

.autocomplete-item {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-item:hover {
  background-color: #f1f1f1;
}
