@import "_variables.css";

.table-section {
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.table-card {
  background-color: var(--color-bg);
  border: 0;
  border-radius: 8px;
  padding: 15px;
  height: 300px; /* Adjust as needed */
  color: var(--color-text);
  transition: all var(--transition-duration) ease-out;
  opacity: 0;
}

.table-card.shown {
  opacity: 1;
}

.table-card:hover {
  transform: translateY(-5px);
}
